service: repairshop-api


provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-3  
  environment:
    NODE_ENV: lambda
    MONGO_URI: ${env:MONGO_URI}
  httpApi:
    cors: 
      allowedOrigins:
        - "*"
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowedHeaders:
        - Content-Type
        - Authorization

functions:
  app:
    handler: lambda.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: '*'

plugins:
  - serverless-offline

package:
  include:
    - node_modules/aws-sdk/**

